<% flash.each do |type, message| %>
    <div data-alert class="flash alert-box text-center <%= type %>">
      <%= message %>
      <a href="#" class="close">&times;</a>
 	</div>
<% end %>
<!-- 
<%= @game.puzzle[:solution] %> -->
<div class="small-centered columns end hero-inner">
	<div class="row">
		<div class="small-12 columns">
			<span class="button radius info">Player <%= @game.player_name %></span>
		</div>
		<div class="small-4 columns">
			<span class="button radius info expand">Level <%= @game.level %></span>
		</div>
	</div>
	<br>
	<form>
		<div class="row">
				<% @game.puzzle[:sudoku].each do |cell| %>
					<% if cell==0 %>
					<div class="small-2 columns">
				    	<input type="text" placeholder="<%= cell %>" maxlength="1"/>
				    </div>
					<% else %>
					<div class="small-2 columns">
				    	<input type="text" placeholder="<%= cell %>" maxlength="1" disabled/>
				    </div>
				    <% end %>
				<%end%>
		</div>
		<div class="row">
			<div class="small-4 small-centered columns">
				<span type="submit" class="button radius warning expand">SUBMIT</span>
			</div>
		</div>
	</form>



<!-- 
	#to_s

	#compare two 

	#return flash message 
 -->
<!-- 	<h1>SOLUTION: </h1>
	<% @game.puzzle[:solution].each do |cell| %>
	    <strong><%= cell %></strong>
	<%end%> -->
</div>